# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# Let vim-rails plugin think it's a rails application.
# That activates some sweet shortcuts automatically.
/config/environment.rb
